{
  "urls":{
    "authUrl":"https://ukoauth.plutora.com/",
    "baseUrl":"https://ukapi.plutora.com/"
  },
  "credentials": {
    "client_id":"xxxxx",
    "client_secret":"xxxxx",
    "username":"xxxx",
    "password":"xxx"
  }
}